<h3>
    An error
</h3>
<h5>
    please contact us
</h5>
<hr />
<div>
    <p>
        @ViewBag.ExceptionPath
    </p>
    <p>
        @ViewBag.ExceptionMessage
    </p>
    <p>
        @ViewBag.StackTrace
    </p>
</div>
