@model EmployeeCreateViewModel;
@{
    ViewBag.Title="Create Employee";
}

<form enctype="multipart/form-data" asp-controller="home" asp-action="create" method="post">
   <div>
    <label asp-for="Name">Name</label>
    <!-- HARUS MERUJUK KE MODEL YANG ADA KALO GA ERROR -->
    <input asp-for="Name"/>
    <span asp-validation-for="Name" class="text-danger"></span>
    </div>
       <div>
    <label asp-for="Email">Email</label>

    <!-- HARUS MERUJUK KE MODEL YANG ADA KALO GA ERROR -->
    <input asp-for="Email"/>
     <span asp-validation-for="Email" class="text-danger">  </span>
    </div>
       <div>

    <label asp-for="Department">Department</label>
    <!-- HARUS MERUJUK KE MODEL YANG ADA KALO GA ERROR -->
    <select asp-for="Department" asp-items="Html.GetEnumSelectList<Dept>()">
        <option value="">Please Selected </option>
    </select>
    </div>


    <div>
        <label asp-for="Photo">Photo</label>

    <!-- HARUS MERUJUK KE MODEL YANG ADA KALO GA ERROR -->
        <div class="custom-file">
    <%-- KARENA Field Photo Menggunakan IFormFile jadi tidak perlu masukin type="input" --%>
        <input asp-for="Photo" multiple class="form-control custom-file-input"/>
        <label  class="custom-file-label">
            Choose file
        </label>
        </div>
    </div>

    <img src=""
           
    <div>
        <div asp-validation-summary="All" class="text-danger">
        </div>
    </div>

    <div>
        <button type="submit">
        Create
        </button>
    </div>

    @section Scripts{
        <script>
            $(document).ready(function(){
                $('.custom-file-input').on("change",function(){
                    var fileLabel = $(this).next('.custom-file-label');
                
                    var files = $(this)[0].files;
                    if(files.length > 1){
                        fileLabel.html(files.length + 'files selected');
                    }else if(files.length == 1){
                        fileLabel.html(files[0].name);
                    }
            
                });
            });
        </script>
    }
</form>